<launch>
 
 <!-- depth sensor -->
   <node pkg="depth_sensor" type="depth_sensor.py" name="depth_sensor"/>
 
 <!-- gpio control -->
   <node pkg="gpio_control" type="gpio_control.py" name="gpio_control"/>
 
 <!-- thruster interface -->
   <node pkg="thrusters" type="thrusterInterface.py" name="thruster_interface"/>
</launch>
