<launch>

    <!-- ROV Control Interface -->
    <!-- Launch Joystick Nodes -->
    <include file="$(find rov_control)/launch/joy_interface.launch"/>
    <!-- Launch Python Files-->
    <node pkg="rov_control" type="drive_control.py" name="drive_control"/>
    <node pkg="rov_control" type="autonomous.py" name="autonomous"/>

    <!-- GUI & Control-->
    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="copilot_interface"/>
    <!-- Launch Control Program -->
    <node pkg="copilot_interface" type="control.py" name="control"/>

    <!-- Launch Camera Viewer -->
    <node pkg="camera_viewer" type="switcher.py" name="camera_viewer"/>

</launch>