<launch>

    <!-- Joystick node -->
    <node respawn="true" pkg="joy" type="joy_node" name="joystick" >
      <remap from="joy" to="joystick"/>
      <param name="dev" type="string" value="/dev/input/by-id/usb-Logitech_Logitech_Extreme_3D-joystick" />
      <param name="deadzone" value="0.1" />
      <param name="autorepeat_rate" value="2"/>
    </node>

    <!--  Throttle node -->
    <node respawn="true" pkg="joy" type="joy_node" name="throttle" >
      <remap from="joy" to="throttle"/>
      <param name="dev" type="string" value="/dev/input/by-id/usb-Thrustmaster_TWCS_Throttle-joystick" />
      <param name="deadzone" value="0.1" />
      <param name="autorepeat_rate" value="2"/>
    </node>
    
    <!-- ROV Control nodes -->
    <node pkg="rov_control" type="drive_control.py" name="drive_control"/>
    <node pkg="rov_control" type="autonomous.py" name="autonomous"/>

    <!-- RQT node-->
    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="copilot_interface"/>
    
    <!-- Control node -->
    <node pkg="copilot_interface" type="control.py" name="control"/>

    <!-- Camera node -->
    <node pkg="camera_viewer" type="switcher.py" name="camera_viewer"/>

</launch>
